*{
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0 auto;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

/* custom */
.nav-desktop{
  flex: end;
  justify-content: end;
}

.nav-text{
  border-bottom: 1px solid transparent;
  transition: 0.3s !important;
}

.nav-text-active{
  color: black !important;
  border-bottom: 1px solid rgb(66, 66, 66);
}

.nav-text:hover{
  border-bottom: 1px solid rgb(66, 66, 66);
}


@keyframes showing {
  0% {color: transparent;left: 25px; }
  100% {left: 0px;}
}

.animation-text{
  position: relative;
  animation-name: showing;
  animation-duration: 1s;
}

.home-text{
  position: relative;
  animation-duration: 1s;
}

.home-text-mobile{
  margin-top: 20vh;
}

.content{
  margin-bottom: 91px;
}

.containers{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer {
  height: 91px;
  position: absolute;
  left: 0;  
}

