*{
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif !important;
  padding: 0;
  margin: 0 auto;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

/* custom */
.nav-desktop{
  flex: end;
  justify-content: end;
}

.nav-text{
  border-bottom: 1px solid transparent;
  transition: 0.3s !important;
}

.nav-text-active{
  color: black !important;
  border-bottom: 1px solid rgb(66, 66, 66);
}

.nav-text:hover{
  border-bottom: 1px solid rgb(66, 66, 66);
}


@keyframes showing {
  0% {color: transparent;left: 25px; }
  100% {left: 0px;}
}

@keyframes showing-right {
  0% {color: transparent;right: 25px; }
  100% {right: 0px;}
}

.animation-text{
  position: relative;
  animation-name: showing;
  animation-duration: 1s;
}

.animation-text-right{
  position: relative;
  animation-name: showing-right;
  animation-duration: 1s;
}

.home-text{
  position: relative;
  animation-duration: 1s;
}

.home-text-mobile{
  margin-top: 20vh;
}

.content{
  margin-bottom: 91px;
}

.sub-content{
  margin-bottom: 45px;
}

.content-photo{
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding-right: 9px;
  padding-bottom: 9px;
  transition: 0.4s;
  margin: 9px;
}

.content-photo:hover{
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

.portfolio-crossing{
  margin-top: 250px;
}

.portfolio-crossing-text{
  font-size: 45px !important;
}

.thumbnail{
  position: relative;
  top: 0;
  left: 0;
}

.thumbnail-photo{
  position: relative;
  top: 0;
  left: 0;
}


.thumbnail-logo{
  position: absolute;
  top: 41%;
  left: 45%;
}

.containers{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.blog-card{
  transition: 0.3s;
}

.blog-card:hover{
  background-color: rgb(236, 236, 236);
}

.blog{
  font-family: "Montserrat", sans-serif !important;
}

.blog-content{
  white-space: pre-line;
}

.footer {
  height: 91px;
  position: absolute;
  left: 0;  
}

